@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD de Tarefas</h1>
    <p>Esse sistema tem como objetivo realizar um CRUD de tarefas do cotidiano.</p>
</div>
