a.navbar-brand[b-2njji17txr] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-2njji17txr] {
    color: #0077cc;
}

.btn-primary[b-2njji17txr] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-2njji17txr], .nav-pills .show > .nav-link[b-2njji17txr] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-2njji17txr] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-2njji17txr] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-2njji17txr] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-2njji17txr] {
    font-size: 1rem;
    line-height: inherit;
}
